{% extends 'base.html' %}

{% block head_title %}
    Hello World from Home Page on Course Platform
  {% endblock head_title %}



{% block content %}
  <h1>Hello World</h1>

  <div>
    <form method="POST" action="."> 
        {% csrf_token %}
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input name="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
        </div>
        <button type="submit">Login</button>
    </form>
  </div>


{% endblock content %}
