{% extends "base.html" %}


{% block content %}


<section class="bg-white dark:bg-gray-900">
    <div class="">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Courses</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">We have awesome courses.</p>
        </div> 
        {% include 'courses/snippets/list-display.html' with queryset=object_list %}
    </div>
  </section>
  


{% endblock content %}